- content_for :title, "Choose an existing asset as parent"

%section.hero
  .hero-body
    .container.has-text-centered
      .column.is-10.is-offset-1
        %h3.title Add parent for #{@item.name}
        .box
          -# = simple_form_for new_item_item_peripheral_path do |f|
          = simple_form_for @item, url: add_parents_item_item_peripherals_path, method: :post do |f|
            .field.is-horizontal
              .field-label.is-normal
                %label.label Parent Assets
              .field-body
                .field{style: 'margin: auto'}
                  .control
                    = f.select :create_peripherals, @items.map { |i| [i.name + " : " + i.serial, i.id] }, {}, {class: 'select2', multiple: ''}
                    = f.hidden_field :item_id, value: @item.id
            %br
            %br
            .field.is-horizontal
              .field-label.has-text-left
                -# Left empty for spacing
              .field-body
                .field.is-grouped.is-grouped-right
                  .control
                    = link_to 'Cancel', @item, class: 'button is-light'
                  .control
                    = f.submit 'Add as Peripheral', class: 'button is-block is-link', id: 'submitButton'