- content_for :title, "Accepted Bookings"

%br/
.container.is-fluid
  = render partial: 'layouts/flash'

  = render "tabs"

  %p.title.has-text-centered Accepted Bookings
  %table#bookings_other.table.is-striped.is-bordered
    %thead
      %tr
        %th ID
        %th Asset
        %th Start Date
        %th Start Time
        %th End Date
        %th End Time
        %th Location
        %th Reason
        %th Booked By
    %tbody
      - @bookings.each do |booking|
        %tr
          %td.has-text-centered= booking.id
          %td.has-text-centered= link_to booking.item.name, booking.item
          %td.has-text-centered= booking.start_date
          %td.has-text-centered= booking.start_time.strftime("%I:%M %p")
          %td.has-text-centered= booking.end_date
          %td.has-text-centered= booking.end_time.strftime("%I:%M %p")
          %td.has-text-centered= booking.next_location
          %td.has-text-centered= booking.reason
          %td.has-text-centered= link_to booking.user.givenname, booking.user
