- content_for :title, "My Bookings"

%br/
.container.is-fluid
  = render partial: 'layouts/flash'

  %p.title.has-text-centered My Bookings
  %p.title.has-text-centered
    = link_to 'Book an asset', items_path, class: 'button is-success'
  %table#bookings.table.is-striped.is-bordered
    %thead
      %tr
        %th Details
        %th ID
        %th Start Date - Start Time
        %th End Date - End Time
        %th Location
        %th Reason
        %th Action
        %th.is-hidden Keywords
    %tbody
      - @combined_bookings.reverse_each do |combined_booking|
        %tr
          %td.details-control{"data-target" => "row-#{combined_booking.id}"}
          %td.has-text-centered= combined_booking.id
          %td.has-text-centered= combined_booking.bookings.first.start_datetime.strftime("%d %b %Y - %I:%M %p")
          %td.has-text-centered= combined_booking.bookings.first.end_datetime.strftime("%d %b %Y - %I:%M %p")
          %td.has-text-centered= combined_booking.bookings.first.next_location
          %td.has-text-centered= combined_booking.bookings.first.reason
          %td
            .buttons.is-centered
              - if combined_booking.status < 3
                = link_to set_booking_cancelled_combined_booking_path(combined_booking), data: { confirm: 'Are you sure?' }, method: :put, class: 'button is-danger' do
                  %span.icon
                    %i.fas.fa-ban
                  %span Cancel remaining items
              - elsif (combined_booking.status == 3) || (combined_booking.status == 7)
                = link_to set_booking_returned_combined_booking_path(combined_booking), data: { confirm: 'Are you sure? If you would like to change any item conditions, please return them separately.' }, method: :put, class: 'button is-link' do
                  %span.icon
                    %i.fas.fa-redo
                  %span Return remaining items
              - elsif (combined_booking.status == 4) || (combined_booking.status == 5) || (combined_booking.status == 6)
                = link_to new_item_booking_path(booking.item.id), class: 'button is-link' do
                  %span.icon
                    %i.fas.fa-sync
                  %span Book Again
          %td.is-hidden
            - @bookings.where(combined_booking_id: combined_booking.id).each do |booking|
              #{booking.item.name} #{booking.item.serial}
              - case booking.status
              - when 1
                %span.tag.is-warning.is-medium
                  Pending
              - when 2
                %span.tag.is-success.is-medium
                  Accepted
              - when 3
                %span.tag.is-info.is-medium
                  Ongoing
              - when 4
                %span.tag.is-success.is-medium
                  Completed
              - when 5
                %span.tag.is-danger.is-medium
                  Rejected
              - when 6
                %span.tag.is-danger.is-medium
                  Cancelled
              - when 7
                %span.tag.is-danger.is-medium
                  Late
              - else
                %span.tag.is-black.is-medium
                  Unknown

        %tr.is-hidden{id: "row-#{combined_booking.id}"}
          %td.is-hidden
          %td.is-hidden
          %td.is-hidden
          %td.is-hidden
          %td.is-hidden
          %td.is-hidden
          %td.is-hidden
          %td.is-hidden
          %td{:colspan => 8}
            %table.table.is-striped.is-bordered
              %thead
                %tr
                  %th Asset Name
                  %th Serial
                  %th Status
                  %th Action
              %tbody
                - @bookings.where(combined_booking_id: combined_booking.id).each do |booking|
                  %tr
                    %td.has-text-centered= link_to booking.item.name, booking.item
                    %td.has-text-centered= link_to booking.item.serial, booking.item
                    %td.has-text-centered
                      - case booking.status
                      - when 1
                        %span.tag.is-warning.is-medium
                          Pending
                      - when 2
                        %span.tag.is-success.is-medium
                          Accepted
                      - when 3
                        %span.tag.is-info.is-medium
                          Ongoing
                      - when 4
                        %span.tag.is-success.is-medium
                          Completed
                      - when 5
                        %span.tag.is-danger.is-medium
                          Rejected
                      - when 6
                        %span.tag.is-danger.is-medium
                          Cancelled
                      - when 7
                        %span.tag.is-danger.is-medium
                          Late
                      - else
                        %span.tag.is-black.is-medium
                          Unknown
                    %td
                      .buttons.is-centered
                        - if booking.status < 3
                          = link_to 'Edit', edit_booking_path(booking.id), class: 'button is-link'
                          = link_to set_booking_cancelled_booking_path(booking), method: :put, class: 'button is-danger' do
                            %span.icon
                              %i.fas.fa-ban
                            %span Cancel Booking
                        - elsif (booking.status == 3) || (booking.status == 7)
                          = link_to booking_returned_booking_path(booking), class: 'button is-link' do
                            %span.icon
                              %i.fas.fa-redo
                            %span Return Item
                        - elsif (booking.status == 4) || (booking.status == 5) || (booking.status == 6)
                          = link_to new_item_booking_path(booking.item.id), class: 'button is-link' do
                            %span.icon
                              %i.fas.fa-sync
                            %span Book Again
