- content_for :title, "My Bookings"

%br/
.container.is-fluid
  = render partial: 'layouts/flash'

  %p.title.has-text-centered My Bookings
  %p.title.has-text-centered
    = link_to 'Book an asset', items_path, class: 'button is-success'
  %table#bookings.table.is-striped.is-bordered
    %thead
      %tr
        %th ID
        %th Asset
        %th Start Date
        %th Start Time
        %th End Date
        %th End Time
        %th Location
        %th Reason
        %th Status
        %th Action
    %tbody
      - @bookings.each do |booking|
        %tr{"data-row-id" => "#{booking.id}"}
          %td.has-text-centered= booking.id
          %td.has-text-centered= link_to booking.item.name, booking.item
          %td.has-text-centered= booking.start_date
          %td.has-text-centered= booking.start_time.strftime("%I:%M %p")
          %td.has-text-centered= booking.end_date
          %td.has-text-centered= booking.end_time.strftime("%I:%M %p")
          %td.has-text-centered= booking.next_location
          %td.has-text-centered= booking.reason
          %td.has-text-centered
            - case booking.status
            - when 1
              %span.tag.is-warning.is-medium
                Pending
            - when 2
              %span.tag.is-success.is-medium
                Accepted
            - when 3
              %span.tag.is-info.is-medium
                Ongoing
            - when 4
              %span.tag.is-success.is-medium
                Completed
            - when 5
              %span.tag.is-danger.is-medium
                Rejected
            - when 6
              %span.tag.is-danger.is-medium
                Cancelled
            - when 7
              %span.tag.is-danger.is-medium
                Late
          %td
            .buttons.is-centered
              - if booking.status < 3
                = link_to 'Edit', edit_booking_path(booking.id), class: 'button is-link'
                = link_to set_booking_cancelled_booking_path(booking), method: :put, class: 'button is-danger' do
                  %span.icon
                    %i.fas.fa-ban
                  %span Cancel Booking
              - elsif (booking.status == 3) || (booking.status == 7)
                = link_to booking_returned_booking_path(booking), class: 'button is-link' do
                  %span.icon
                    %i.fas.fa-redo
                  %span Return Item
              - elsif (booking.status == 4) || (booking.status == 5) || (booking.status == 6)
                = link_to new_item_booking_path(booking.item.id), class: 'button is-link' do
                  %span.icon
                    %i.fas.fa-sync
                  %span Book Again
