- content_for :title, "Booking #{@item.name}"

%section.section
  .container.is-desktop.has-text-centered
    - if not notice.nil?
      .columns
        .column.is-4.is-offset-4
          .notification.is-danger.has-text-centered
            %button.delete
            = notice

    %h3.title Create booking on #{@item.name}
    .box
      .columns
        - if @item.image?
          .column.is-5.has-text-centered#zoom{style: 'margin: auto'}
            = image_tag(@item.image.url, alt: 'Image')
        -else
          .column.is-5.has-text-centered{style: 'margin: auto'}
            = image_tag("amrc.svg", width: "250", alt: 'Default Image, AMRC')
        .column
          %table.table.is-bordered.is-striped.is-fullwidth
            %tbody
              %tr
                %th Owner
                %td
                  = @item.user.givenname.to_s + ' ' + @item.user.sn.to_s
              - if !@item.parent_asset_serial.blank?
                %tr
                  %th Parent Item Name
                  %td
                    = link_to @parent.name, @parent
              %tr
                %th Name
                %td
                  = @item.name
              %tr
                %th Manufacturer
                %td
                  = @item.manufacturer
              %tr
                %th Model
                %td
                  = @item.model
              %tr
                %th Serial
                %td
                  = @item.serial
              %tr
                %th Category
                %td
                  = @item.category.name
              %tr
                %th PO Number
                %td
                  = @item.po_number
              %tr
                %th Acquisition Date
                %td
                  = @item.acquisition_date
              %tr
                %th Purchase Price
                %td
                  = "£ " + @item.purchase_price.to_s
              %tr
                %th Condition
                %td
                  - case @item.condition
                  - when 'Like New'
                    %span.tag.is-success.is-medium
                      = @item.condition
                  - when 'Good'
                    %span.tag.is-primary.is-medium
                      = @item.condition
                  - when 'Adequate'
                    %span.tag.is-warning.is-medium
                      = @item.condition
                  - when 'Damaged'
                    %span.tag.is-danger.is-medium
                      = @item.condition
                  - when 'Missing'
                    %span.tag.is-danger.is-medium
                      = @item.condition
                  - else
                    %span.tag.is-black.is-medium
                      Unknown
              %tr
                %th Storage Location
                %td
                  = @item.location
              %tr
                %th Peripherals
                %td
                  - if @peripherals.blank?
                    None
                  - else
                    - @peripherals.each do |peripheral|
                      = link_to "#{peripheral.name}", peripheral, class: 'button'

      = simple_form_for @booking do |f|
        .columns
          .column
            .field.is-horizontal
              .field-label.is-normal
                %label.label Start Date
              .field-body
                .field.is-expanded
                  .field.has-addons
                    %p.control
                      %a.button.is-static
                        %i.far.fa-calendar-alt
                    %p.control.is-expanded
                      = f.input :start_date, as: :text, label: false, required: '', input_html: {class: 'input datepicker', id: 'startDate', style: 'resize: none'}
            .field.is-horizontal
              .field-label.is-normal
                %label.label Start Time
              .field-body
                .field.is-expanded
                  .field.has-addons
                    %p.control
                      %a.button.is-static
                        %i.fas.fa-clock
                    %p.control.is-expanded
                      = f.input :start_time, as: :text, label: false, required: '', input_html: {class: 'input timepicker', id: 'startTime', style: 'resize: none'}
          .column
            .field.is-horizontal
              .field-label.is-normal
                %label.label End Date
              .field-body
                .field.is-expanded
                  .field.has-addons
                    %p.control
                      %a.button.is-static
                        %i.far.fa-calendar-alt
                    %p.control.is-expanded
                      = f.input :end_date, as: :text, label: false, required: '', input_html: {class: 'input datepicker', id: 'endDate', style: 'resize: none'}
            .field.is-horizontal
              .field-label.is-normal
                %label.label End Time
              .field-body
                .field.is-expanded
                  .field.has-addons
                    %p.control
                      %a.button.is-static
                        %i.fas.fa-clock
                    %p.control.is-expanded
                      = f.input :end_time, as: :text, label: false, required: '', input_html: {class: 'input timepicker', id: 'endTime', style: 'resize: none'}
                      = f.hidden_field :item_id, value: @item.id
                      = f.hidden_field :user_id, value: current_user.id
            .field.is-horizontal
              .field-label.is-normal
                %label.label Location
              .field-body
                .field
                  %p.control.is-expanded
                    = f.input :next_location, label: false, required: '', placeholder: 'Booking location', input_html: {class: 'input', type: 'text'}
            .field.is-horizontal
              .field-label.is-normal
                %label.label Reason
              .field-body
                .field
                  %p.control.is-expanded
                    = f.input :reason, label: false, placeholder: 'Reason', input_html: {class: 'input', type: 'text'}
            - if @item.has_peripheral
              .field.is-horizontal
                .field-label.is-normal
                  %label.label Peripherals
                .field-body
                  .field{style: 'margin: auto'}
                    .control
                      = f.select :peripherals, [], {}, {class: 'select2', id: 'peripherals', multiple: ''}

            %br
            %br
            .field.is-horizontal
              .field-label.has-text-left
              -#Left empty for spacing
              .field-body
                .field.is-grouped.is-grouped-right
                  .control
                    = link_to 'Back', @item, class: 'button is-block is-light'
                  .control
                    = f.submit 'Confirm booking', class:'button is-link is-block'