- content_for :title, "Booking Requests"

%br/
.container.is-fluid
  = render partial: 'layouts/flash'

  = render "tabs"

  %p.title.has-text-centered Booking Requests
  %table#bookings_other.table.is-striped.is-bordered
    %thead
      %tr
        %th ID
        %th Asset
        %th Start Date
        %th Start Time
        %th End Date
        %th End Time
        %th Location
        %th Reason
        %th Booked By
        %th Action
    %tbody
      - @bookings.each do |booking|
        %tr
          %td.has-text-centered= booking.id
          %td.has-text-centered= link_to booking.item.name, booking.item
          %td.has-text-centered= booking.start_date
          %td.has-text-centered= booking.start_time.strftime("%I:%M %p")
          %td.has-text-centered= booking.end_date
          %td.has-text-centered= booking.end_time.strftime("%I:%M %p")
          %td.has-text-centered= booking.next_location
          %td.has-text-centered= booking.reason
          %td.has-text-centered= link_to booking.user.givenname, booking.user
          %td
            .field.is-grouped.is-grouped-centered
              %p.control
                = simple_form_for(booking) do |f|
                  = f.submit 'Accept', class: 'button is-block is-success'
                  = f.hidden_field :status, value: 2
              %p.control
                = simple_form_for(booking) do |f|
                  = f.submit 'Reject  ', class: 'button is-block is-danger'
                  = f.hidden_field :status, value: 5

