- content_for :title, "Requests"

%br/
.container.is-fluid
  - if not notice.nil?
    .columns
      .column.is-4.is-offset-4
        .notification.is-success.has-text-centered
          %button.delete
          = notice

  = render "tabs"

  %p.title.has-text-centered Requests
  %table#bookings.table.is-striped.is-bordered{:cellspacing => "0", :width => "100%"}
    %thead
      %tr
        %th Asset
        %th Start Date
        %th Start Time
        %th End Date
        %th End Time
        %th Action
    %tbody
      - @bookings.each do |booking|
        %tr
          - @item = Item.find_by_id(booking.item_id)
          %td.has-text-centered= link_to @item.name, @item
          %td.has-text-centered= booking.start_date
          %td.has-text-centered= booking.start_time.strftime("%I:%M %p")
          %td.has-text-centered= booking.end_date
          %td.has-text-centered= booking.end_time.strftime("%I:%M %p")
          %td
            .field.is-grouped.is-grouped-centered
              = simple_form_for(booking) do |f|
                .control
                  = f.submit 'Accept', class: 'button is-block is-success'
                  = f.hidden_field :status, value: 2
              = simple_form_for(booking) do |f|
                .control
                  = f.submit 'Reject  ', class: 'button is-block is-success'
                  = f.hidden_field :status, value: 5

