= simple_form_for(@user) do |f|
  .field.is-horizontal
    .field-label.is-normal
      %label.label Name
    .field-body
      .field
        %p.control.is-expanded
          = f.input :forename, label: false, required: '', placeholder: 'First Name', input_html: {class: 'input'}
      .field
        %p.control.is-expanded
          = f.input :surname, label: false, required: '', placeholder: 'Last Name', input_html: {class: 'input'}
  .field.is-horizontal
    .field-label.is-normal
      %label.label Email
    .field-body
      .field
        %p.control.is-expanded
          = f.input :email, label: false, required: '', placeholder: 'Email', input_html: {class: 'input', type: 'email'}
  .field.is-horizontal
    .field-label.is-normal
      %label.label{for: 'password'} Password
    .field-body
      .field
        %p.control.is-expanded
          = f.input :password, label: false, placeholder: 'Password', input_html: {class: 'input', name: 'password', minlength: '6', maxlength: '18'}
  .field.is-horizontal
    .field-label.is-normal
      %label.label Department
    .field-body
      .field{style: 'margin: auto'}
        .control
          = f.select :department, ['Bioengineering', 'Computer Science', 'Dentistry'], {}, {class: 'select2'}
  .field.is-horizontal
    .field-label.is-normal
      %label.label Permission level
    .field-body
      .field{style: 'margin: auto'}
        .control
          .select.is-fullwidth
            = f.select :permission, ['User', 'Asset Manager', 'Administrator'], {}, {class: ''}
  %br
  %br
  .field.is-horizontal
    .field-label
      -#Left empty for spacing
    .field-body
      .field.is-grouped.is-grouped-right
        .control
          = link_to 'Cancel' , users_path, class: 'button is-light'
        .control
          = f.submit 'Create user', class: 'button is-block is-info'
