- content_for :title, "My Bookings"

%br/
.container.is-fluid
  - if not notice.nil?
    .columns
      .column.is-4.is-offset-4
        .notification.is-success.has-text-centered
          %button.delete
          = notice

  %p.title.has-text-centered My Bookings
  %p.title.has-text-centered
    = link_to 'Book an asset', items_path, class: 'button is-success'
  %table#bookings.table.is-striped.is-bordered{:cellspacing => "0", :width => "100%"}
    %thead
      %tr
        %th Asset
        %th Start Date
        %th Start Time
        %th End Date
        %th End Time
        %th Action
    %tbody
      - @bookings.each do |booking|
        %tr
          - @item = Item.find_by_id(booking.item_id)
          %td.has-text-centered= link_to @item.name, @item
          %td.has-text-centered= booking.start_date
          %td.has-text-centered= booking.start_time.strftime("%I:%M %p")
          %td.has-text-centered= booking.end_date
          %td.has-text-centered= booking.end_time.strftime("%I:%M %p")
          %td
            .field.is-grouped.is-grouped-centered
              - if (booking.status < 3)
                %p.control
                  = link_to set_booking_cancelled_booking_path(booking), method: :put, class: 'button is-link' do
                    %span.icon
                      %i.class.fas.fa-edit
                    %span Cancel Booking
              - elsif (booking.status == 3)
                %p.control
                  = link_to set_booking_returned_booking_path(booking), method: :put, class: 'button is-link' do
                    %span.icon
                      %i.class.fas.fa-redo
                    %span Return Item
              - elsif (booking.status > 3)
                %p.control
                  = link_to new_item_booking_path(booking.item.id), class: 'button is-link' do
                    %span.icon
                      %i.class.fas.fa-sync
                    %span Book Again
