- content_for :title, "Choose an existing asset"

%section.hero
  .hero-body
    .container.has-text-centered
      .column.is-10.is-offset-1
        %h3.title Add peripheral
        .box
          = simple_form_for(@peripheral) do |f|
            .field.is-horizontal
              .field-label.is-normal
                %label.label Parent Asset
              .field-body
                .field
                  .control
                    = f.association :parent_item, label: false, input_html: {class: 'select2', id: 'parent_selector'}, label_method: lambda{|item| "#{item.name} (#{item.serial})"}, :selected => @default.id
            .field.is-horizontal
              .field-label.is-normal
                %label.label Peripheral Asset
              .field-body
                .field
                  %p.control.is-expanded
                    = f.association :peripheral_item, label: false,  input_html: {class: 'select2', id: 'peripheral_selector', multiple: true}, label_method: lambda{|item| "#{item.name} (#{item.serial})"}, :selected => @default.id
            %br
            .field.is-horizontal
              .field-label.has-text-left
                -#Left empty for spacing
              .field-body
                .field.is-grouped.is-grouped-right
                  .control
                    = link_to 'Cancel' , items_path, class: 'button is-light'
                  .control
                    = f.submit 'Create asset', class: 'button is-block is-link', id: 'submitButton'
