- content_for :title, "Assets"

%br/
.container.is-fullhd
  %table#myTable.table.is-striped.is-bordered.is-hoverable.is-fullwidth{:cellspacing => "0", :width => "100%"}
    %thead
      %tr
        %th Name
        %th Image
        %th Type
        %th Owner
        %th Normal Location
        %th Condition
        %th Peripherals
    %tbody
      - @assets.each do |asset|
        %tr= asset.asset_name
        %tr= ""
        %tr= asset.category
        %tr= asset.user_id
        %tr= asset.location
        %tr= asset.condition
        %tr= ""
