- content_for :title, "Assets"

%br/
.container.is-fluid
  - if not notice.nil?
    .columns
      .column.is-4.is-offset-4
        .notification.is-success.has-text-centered
          %button.delete
          = notice

  %p.title.has-text-centered Current assets
  - if current_user.permission_id != 1
    %p.title.has-text-centered
      = link_to 'Create new', new_item_path, class: 'button is-success'
    %p.title.has-text-centered
      = link_to 'Import', import_items_path, class: 'button is-success'
  %table#assets.table.is-striped.is-bordered{:cellspacing => "0", :width => "100%"}
    %thead
      %tr
        %th Name
        %th Image
        %th Serial
        %th Category
        %th Manufacturer
        %th Condition
        %th Location
        %th.is-hidden Keywords
    %tbody
      - @items.each do |item|
        %tr
          %td.has-text-centered= link_to item.name, item
          %td.has-text-centered
            - if item.image?
              = link_to image_tag(item.image.url, width: '50', height: '50', alt: 'Image', style: 'vertical-align: middle'), '#', 'data-target' => "modal-#{item.serial}", class: 'modal-button'
              .modal{id: "modal-#{item.serial}"}
                .modal-background
                .modal-content
                  %p.image-modal
                    = image_tag(item.image.url, width: '600', alt: 'Image')
                %button.modal-close.is-large{"aria-label" => "close"}
            - else
              = image_tag("amrc.svg", width: "50", alt: 'Default Image, AMRC', style: 'vertical-align: middle')
          %td.has-text-centered= item.serial
          %td.has-text-centered= item.category.name
          %td.has-text-centered= item.manufacturer
          %td.has-text-centered
            - case item.condition
            - when 'Like New'
              %span.tag.is-success.is-medium
                = item.condition
            - when 'Good'
              %span.tag.is-primary.is-medium
                = item.condition
            - when 'Adequate'
              %span.tag.is-warning.is-medium
                = item.condition
            - when 'Damaged'
              %span.tag.is-danger.is-medium
                = item.condition
            - when 'Missing'
              %span.tag.is-danger.is-medium
                = item.condition
            - when 'Retired'
              %span.tag.is-danger.is-medium
                = item.condition
            - else
              %span.tag.is-black.is-medium
                Unknown
          %td.has-text-centered= item.location
          %td.has-text-centered.is-hidden= item.keywords
