- content_for :title, "Assets"

%br/
.container.is-fluid
  %p.title.has-text-centered Current assets
  - if current_user.permission_id != 1
    %p.title.has-text-centered
      = link_to 'Create new', new_item_path, class: 'button is-success'
  %table#assets.table.is-striped.is-bordered{:cellspacing => "0", :width => "100%"}
    %thead
      %tr
        %th Name
        %th Hash ID
        %th Category
        %th Manufacturer
        %th Condition
        %th Location
    %tbody
      -@items.each do |item|
        %tr
          %td= link_to item.name, item
          %td= item.hash_id
          %td= item.category.name
          %td= item.manufacturer
          %td= item.condition
          %td= item.location
