- content_for :title, "Assets"

%br/
.container.is-fluid
  %p.title.has-text-centered Current assets
  %table#assets.table.is-striped.is-bordered{:cellspacing => "0", :width => "100%"}
    %thead
      %tr
        %th Name
        %th Image
        %th Category
        %th Owner
        %th Normal Location
        %th Condition
        %th Peripherals
    %tbody
      -@items.each do |item|
        %tr
          %td= item.name
          %td= ""
          %td= item.category
          %td= ""
          %td= item.location
          %td= item.condition
          %td= ""
