- content_for :title, "Assets"

%br/
.container.is-fluid
  %p.title.has-text-centered Current assets
  - if current_user.permission_id != 1
    %p.title.has-text-centered
      = link_to 'Create new', new_item_path, class: 'button is-success'
  %table#assets.table.is-striped.is-bordered{:cellspacing => "0", :width => "100%"}
    %thead
      %tr
        %th Name
        %th Image
        %th Serial ID
        %th Category
        %th Manufacturer
        %th Condition
        %th Location
        %th.is-hidden Keywords
    %tbody
      -@items.each do |item|
        %tr
          %td.has-text-centered= link_to item.name, item
          %td.has-text-centered
            - if item.image?
              = link_to image_tag(item.image.url, width: '50', height: '50', alt: 'Image', style: 'vertical-align: middle'), '#', 'data-target' => "modal-#{item.serial_id}", class: 'modal-button'
              .modal{id: "modal-#{item.serial_id}"}
                .modal-background
                .modal-content
                  %p.image-modal
                    = image_tag(item.image.url, width: '600', alt: 'Image')
                %button.modal-close.is-large{"aria-label" => "close"}
            - else
              = image_tag("amrc.svg", width: "50", alt: 'Default Image, AMRC', style: 'vertical-align: middle')
          %td.has-text-centered= item.serial_id
          %td.has-text-centered= item.category.name
          %td.has-text-centered= item.manufacturer
          %td.has-text-centered= item.condition
          %td.has-text-centered= item.location
          %td.has-text-centered.is-hidden= item.keywords
