
%br/
.container.is-fluid
  - if @manager.givenname.eql? current_user.givenname and @manager.sn.eql? current_user.sn
    - content_for :title, "My Assets"
    %p.title.has-text-centered My Assets
  - else
    - content_for :title, "#{@manager.givenname} #{@manager.sn}'s Assets"
    %p.title.has-text-centered #{@manager.givenname} #{@manager.sn}'s Assets
  %table#assets.table.is-striped.is-bordered{:cellspacing => "0", :width => "100%"}
    %thead
      %tr
        %th Name
        %th Category
        %th Manufacturer
        %th Condition
        %th Location
    %tbody
      -@items.each do |item|
        %tr
          %td.has-text-centered= link_to item.name, item
          %td.has-text-centered= item.category.name
          %td.has-text-centered= item.manufacturer
          %td.has-text-centered= item.condition
          %td.has-text-centered= item.location
