%br/
.container.is-fluid
  = render partial: 'layouts/flash'

  - if @manager.givenname.eql? current_user.givenname and @manager.sn.eql? current_user.sn
    - content_for :title, "My Assets"
    %p.title.has-text-centered My Assets
  - else
    - content_for :title, "#{@manager.givenname} #{@manager.sn}'s Assets"
    %p.title.has-text-centered #{@manager.givenname} #{@manager.sn}'s Assets
  = render "tabs"
  = form_tag change_manager_multiple_items_path do
    %table#assets.table.is-striped.is-bordered
      %thead
        %tr
          - if current_user.id == @manager.id
            %th
          %th Name
          %th Category
          %th Manufacturer
          %th Condition
          %th Location
      %tbody
        - @items.each do |item|
          %tr
            - if current_user.id == @manager.id
              %td
                = check_box_tag "item_ids[]", item.id
            %td.has-text-centered= link_to item.name, item
            %td.has-text-centered= item.category.name
            %td.has-text-centered= item.manufacturer
            %td.has-text-centered
              - case item.condition
              - when 'Like New'
                %span.tag.is-success.is-medium
                  = item.condition
              - when 'Good'
                %span.tag.is-primary.is-medium
                  = item.condition
              - when 'Adequate'
                %span.tag.is-warning.is-medium
                  = item.condition
              - when 'Damaged'
                %span.tag.is-danger.is-medium
                  = item.condition
              - when 'Missing'
                %span.tag.is-danger.is-medium
                  = item.condition
              - else
                %span.tag.is-black.is-medium
                  Unknown
            %td.has-text-centered= item.location
    - if current_user.id == @manager.id && @items.any?
      .columns
        .column
          .buttons.is-centered
            = submit_tag "Transfer Selection", class:'button is-link is-block'
