- content_for :title, "#{@item.name}"

%section.section
  .container.is-desktop
    - if not notice.nil?
      .columns
        .column.is-4.is-offset-4
          .notification.is-success.has-text-centered
            %button.delete
            = notice
    .box
      .columns
        .column.is-5.has-text-centered
          = image_tag("amrc.svg", width: "250")
        .column
          %table.table.is-bordered.is-striped.is-fullwidth
            %tbody
              %tr
                %th Name
                %td
                  = @item.name
              %tr
                %th Manufacturer
                %td
                  = @item.manufacturer
              %tr
                %th Model
                %td
                  = @item.model
              %tr
                %th Category
                %td
                  = @item.category.name
              %tr
                %th Serial
                %td
                  = @item.serial
              %tr
                %th Aquisition Date
                %td
                  = @item.acquisition_date
              %tr
                %th Purchase Price
                %td
                  = "£" + @item.purchase_price
              %tr
                %th Condition
                %td
                  - case @item.condition
                  - when 'Like New'
                    %span.tag.is-success.is-medium
                      = @item.condition
                  - when 'Good'
                    %span.tag.is-link.is-medium
                      = @item.condition
                  - when 'Adequate'
                    %span.tag.is-warning.is-medium
                      = @item.condition
                  - when 'Damaged'
                    %span.tag.is-danger.is-medium
                      = @item.condition
                  - when 'Missing'
                    %span.tag.is-danger.is-medium
                      = @item.condition
                  - else
                    %span.tag.is-black.is-medium
                      Unknown
              %tr
                %th Location
                %td
                  = @item.location
              %tr
              -#%th Peripherals
                %td
                  = @item.peripherals

      = link_to 'New Booking', new_item_booking_path(@item.id), class:'button is-light center-block'


\|
= link_to 'Back', items_path
