!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    = csrf_meta_tag

    / Favicon
    = favicon_link_tag 'favicon/apple-touch-icon.png', rel: 'apple-touch-icon', sizes: '180x180'
    = favicon_link_tag 'favicon/favicon-32x32.png', rel: 'icon', sizes: '32x32', type: 'image/png'
    = favicon_link_tag 'favicon/favicon-16x16.png', rel: 'icon', sizes: '16x16', type: 'image/png'
    = favicon_link_tag 'favicon/site.webmanifest', rel: 'manifest'
    = favicon_link_tag 'favicon/safari-pinned-tab.svg', rel: 'mask-icon', color: '#5bbad5'
    = favicon_link_tag 'favicon/favicon.ico', rel: 'shortcut icon'
    %meta{:content => "#da532c", :name => "msapplication-TileColor"}/
    %meta{:content => "#{asset_path 'favicon/browserconfig.xml'}", :name => "msapplication-config"}/
    %meta{:content => "#ffffff", :name => "theme-color"}/

    %title Login - AMRC Asset Management System

    / Bulma CSS, Google Open Sans font
    = stylesheet_link_tag "https://fonts.googleapis.com/css?family=Open+Sans:300,400,700"
    = stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css"
    :css
      html,body {
        font-family: 'Open Sans', serif;
        font-size: 14px;
        font-weight: 300;
      }
      .hero.is-success {
        background: #F2F6FA;
      }
      .hero .nav, .hero.is-success .nav {
        -webkit-box-shadow: none;
        box-shadow: none;
      }
      .box {
        margin-top: 5rem;
      }
      .avatar {
        margin-top: -70px;
        padding-bottom: 20px;
      }
      .avatar img {
        padding: 5px;
        background: #fff;
        border-radius: 50%;
        -webkit-box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
        box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
      }
      input {
        font-weight: 300;
      }
      p {
        font-weight: 700;
      }
      p.subtitle {
        padding-top: 1rem;
      }

  %body
    %section.hero.is-success.is-fullheight
      .hero-body
        .container.has-text-centered
          .column.is-4.is-offset-4
            %h3.title.has-text-grey Login
            %p.subtitle.has-text-grey Please login to proceed.
            .box
              %figure.avatar
                = image_tag("amrc.svg", width: "128")
              = simple_form_for :f do |f|
                .field
                  .control
                    %label.label Username
                    = f.input :username, label: false, required: false, input_html: {class: 'input is-large', autofocus:''}
                .field
                  .control
                    %label.label Password
                    = f.input :password, label: false, required: false, input_html: {class: 'input is-large', type: 'password'}
                %br
                .control
                  = f.submit 'Sign in', class: 'button is-block is-success is-large is-fullwidth'
            %p.has-text-grey
              = link_to 'Forgot Password', login_index_path
               · 
              = link_to 'Need Help?', login_index_path

    = javascript_include_tag "https://use.fontawesome.com/releases/v5.0.6/js/all.js"
    :javascript
      (function() {
        var burger = document.querySelector('.burger');
        var menu = document.querySelector('#'+burger.dataset.target);
        burger.addEventListener('click', function() {
          burger.classList.toggle('is-active');
          menu.classList.toggle('is-active');
        });
      })();
