- content_for :title, "Create category"

%section.hero
  .hero-body
    .container.has-text-centered
      - flash.each do |name, msg|
        - next unless name == 'alert' || name == 'notice'
        .columns
          .column.is-4.is-offset-4
            .notification.is-danger.has-text-centered
              %button.delete
              = msg

      .column.is-10.is-offset-1
        %h3.title Create category
        .box
          = simple_form_for(@category) do |f|
            = f.error_notification

            .field.is-horizontal
              .field-label.is-normal
                %label.label Category
              .field-body
                .field
                  %p.control.is-expanded
                    = f.input :name, label: false, required: '', placeholder: 'Category', input_html: {class: 'input'}
                  %p.help Under 20 characters, characters allowed: alpha-numeric & , ; '

            .field.is-horizontal
              .field-label.is-normal
                %label.label Tag
              .field-body
                .field
                  %p.control.is-expanded
                    = f.input :tag, label: false, required: '', placeholder: 'Tag', input_html: {class: 'input'}
                  %p.help Characters allowed: Only letters allowed; e.g. CAM for Cameras

            %br
            .field.is-horizontal
              .field-label.has-text-left
                -#Left empty for spacing
              .field-body
                .field.is-grouped.is-grouped-right
                  .control
                    = link_to 'Cancel' , categories_path, class: 'button is-block is-light'
                  .control
                    = f.submit 'Create category', class: 'button is-block is-info'
